* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: grey;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#cotainer {
    width: 900px;
    background: white;
    padding: 25px 45px;
    border-radius: 10px;
}

#heading {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    color: black;
}

.data {
    display: flex;
    flex-direction: column;
    border: 2px solid lightcoral;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkkhaki;
    padding-bottom: 25px;
    border-radius: 15px;
}

label {
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    padding-right: 10px;
}

input,
select,
textarea {
    width: 80%;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid burlywood;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    padding-left: 10px;
    border-radius: 10px;
   
}

textarea {
    height: 60px;
    width: 100%;
}

/* br {
    display: none;
} */

div, pre {
    margin-bottom: 15px;
}

pre h3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 30px;
}

.sub{
    display: flex;
    justify-content: center;
}

input:hover{
    background-color: lightblue;

}



